body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ab3dd;
  font-family: "Gothic A1", sans-serif;
}

.main-header {
  border: solid #021930 8px;
  text-align: center;
  padding: 5px 2px;
  font-size: 50px;
  box-shadow: 10px 5px 5px rgb(9, 51, 25);
}

.parent {
  display: flex;
  height: 450px;
}
.row {
  border: solid #07396b 6px;
  text-align: center;
  width: 25%;
  height: 90%;
  margin: auto;
  font-size: 20px;
  box-shadow: 10px 5px 5px rgb(9, 51, 25);
}

.post-img {
  width: 70%;
}

@media screen and (max-width: 800px) {
  .gallery {
    background-color: #56855c;
  }
  .gallery-card {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    width: 90vw;
  }
  .gallery-card {
    width: 40%;
  }
}
