body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5f7063;
  font-family: "Georama", sans-serif;
  animation: test 2s;
}

.main-header {
  border: solid #203f14 8px;
  text-align: center;
  padding: 7px 4px;
  font-size: 50px;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 2vh;
  color: #362706;
  box-shadow: 10px 5px 5px rgb(9, 51, 25);
  transition: 1s;
}

.main-header:hover {
  transform: translate(-3rem);
}

.random-button {
  border: solid #203f14 8px;
  text-align: center;
  padding: 2px 1px;
  font-size: 20px;
  margin-left: 38vw;
  margin-right: 38vw;
  margin-top: 5vh;
  color: #1f1603;
  box-shadow: 10px 5px 5px rgb(9, 51, 25);
  transition: 1s;
  background-color: #203f14;
}

.random-button:hover {
  transform: translate(0.5rem, -1rem);
}

.random-button2 {
  border: solid #203f14 5px;
  text-align: center;
  padding: 1px 0.5px;
  font-size: 17px;
  margin-left: 39vw;
  margin-right: 39vw;
  margin-top: 7vh;
  color: #1f1603;
  box-shadow: 5px 2px 2px rgb(9, 51, 25);
  transition: 0.5s;
  background-color: #203f14;
}

.random-button2:hover {
  transform: translate(0rem, -2rem);
}

.parent {
  display: flex;
  height: 450px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}
.row {
  border: solid #203f14 6px;
  text-align: center;
  width: 25%;
  height: 90%;
  margin: auto;
  margin-top: 20vh;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #362706;
  box-shadow: 15px 8px 8px rgb(9, 51, 25);
  transition: 3s;
}

.row:hover {
  transform: translate(0.5rem, -1rem);
}

.post-img:hover {
  transform: translate(0.2rem, -0.3rem);
  outline: solid #203f14 2px;
}

.post-img {
  width: 75%;
}

@keyframes test {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .row,
  .post-img {
    width: 45%;
    height: 45%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    width: 80%;
    height: 80%;
  }
}
